header {
    height : 400px;
    display : flex;
    justify-content : center;
    align-items: center;
    background-color: #338c00;
    flex-direction: column;

}

.avatar {
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    width: 5em;
    margin-left: 50pt;
}

#name {
    color: #ffffff;
    font-size: 15pt;
    font-family: 'Source Sans Pro';
    margin-left: 5rem;
}


/*
The header should have a height of 400px and be 100% the width of it's parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background should be a different colour than the nav and the body
The background-image should be a transparent pattern. Feel free to use this tool to assist: https://www.transparenttextures.com/



*/